<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:label="CryptKeep"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Autofill: launched by the autofill service to unlock and pick a
             credential for the requesting app/website. -->
        <activity
            android:name=".AutofillActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
        </activity>

        <!-- Passkeys: launched by PasskeyProviderService's PendingIntent once
             the user picks CryptKeep to save a passkey. -->
        <activity
            android:name=".PasskeyActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <intent-filter>
                <action android:name="com.eerie.cryptkeep.CREATE_PASSKEY" />
                <action android:name="com.eerie.cryptkeep.UNLOCK_PASSKEY" />
                <action android:name="com.eerie.cryptkeep.GET_PASSKEY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.keevault.flutter_autofill_service.ACTIVITY_NAME"
            android:value="com.eerie.cryptkeep.AutofillActivity" />
        <meta-data
            android:name="com.keevault.flutter_autofill_service.SAVE_ACTIVITY_NAME"
            android:value="com.eerie.cryptkeep.MainActivity" />
        <meta-data
            android:name="com.keevault.flutter_autofill_service.select_another_entry"
            android:value="Pick a different entry" />

        <service
            android:name="com.keevault.flutter_autofill_service.FlutterAutofillService"
            tools:replace="label"
            android:label="CryptKeep">
            <meta-data
                android:name="com.keevault.flutter_autofill_service.unlock_label"
                android:value="Unlock CryptKeep to fill" />
        </service>

        <!-- Passkeys: offers CryptKeep as a credential provider. Android 14+
             only, so the platform simply never binds it on older devices. -->
        <service
            android:name=".PasskeyProviderService"
            android:enabled="true"
            android:exported="true"
            android:label="CryptKeep"
            android:icon="@mipmap/ic_launcher"
            android:permission="android.permission.BIND_CREDENTIAL_PROVIDER_SERVICE"
            tools:targetApi="upside_down_cake">
            <intent-filter>
                <action android:name="android.service.credentials.CredentialProviderService" />
            </intent-filter>
            <meta-data
                android:name="android.credentials.provider"
                android:resource="@xml/provider" />
        </service>

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
